BrokerageOnline.Presentation/Service References/SecurityServiceRef/SecurityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecurityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50262/SecurityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50262/SecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50262/SecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BrokerageOnline.TransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecurityService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ForgetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgetPassword" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ForgetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserID" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetChatUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatUsers" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetChatUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetOfflineChats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOfflineChats" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetOfflineChats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfflineChatsResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_SaveChat_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChat" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_SaveChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChatResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_InsertUpdateEmployeeLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUpdateEmployeeLogs" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_InsertUpdateEmployeeLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUpdateEmployeeLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecurityService">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/AuthenticateUser" message="tns:ISecurityService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/AuthenticateUserResponse" message="tns:ISecurityService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/ForgetPassword" message="tns:ISecurityService_ForgetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/ForgetPasswordResponse" message="tns:ISecurityService_ForgetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/ResetPassword" message="tns:ISecurityService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/ResetPasswordResponse" message="tns:ISecurityService_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetUserID" message="tns:ISecurityService_GetUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetUserIDResponse" message="tns:ISecurityService_GetUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetChatUsers" message="tns:ISecurityService_GetChatUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetChatUsersResponse" message="tns:ISecurityService_GetChatUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOfflineChats">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetOfflineChats" message="tns:ISecurityService_GetOfflineChats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetOfflineChatsResponse" message="tns:ISecurityService_GetOfflineChats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveChat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/SaveChat" message="tns:ISecurityService_SaveChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/SaveChatResponse" message="tns:ISecurityService_SaveChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateEmployeeLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/InsertUpdateEmployeeLogs" message="tns:ISecurityService_InsertUpdateEmployeeLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/InsertUpdateEmployeeLogsResponse" message="tns:ISecurityService_InsertUpdateEmployeeLogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISecurityService" type="tns:ISecurityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgetPassword">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/ForgetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/GetUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatUsers">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/GetChatUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOfflineChats">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/GetOfflineChats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChat">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/SaveChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateEmployeeLogs">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/InsertUpdateEmployeeLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityService">
    <wsdl:port name="BasicHttpBinding_ISecurityService" binding="tns:BasicHttpBinding_ISecurityService">
      <soap:address location="http://localhost:50262/SecurityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>