BrokerageOnline.Presentation/Service References/SecurityServiceRef/SecurityService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50262/SecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BrokerageOnline.TransferObjects" />
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BrokerageOnline.TransferObjects" minOccurs="0" name="credential" nillable="true" type="q1:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateUserResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReturnURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForgetPasswordResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BrokerageOnline.TransferObjects" minOccurs="0" name="credential" nillable="true" type="q2:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BrokerageOnline.TransferObjects" minOccurs="0" name="GetChatUsersResult" nillable="true" type="q3:ArrayOfUserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfflineChats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SentTo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfflineChatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BrokerageOnline.TransferObjects" minOccurs="0" name="GetOfflineChatsResult" nillable="true" type="q4:ArrayOfChatHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BrokerageOnline.TransferObjects" minOccurs="0" name="chatHistory" nillable="true" type="q5:ChatHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveChatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateEmployeeLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BrokerageOnline.TransferObjects" minOccurs="0" name="EmployeeLogsBO" nillable="true" type="q6:EmployeeLogs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateEmployeeLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateEmployeeLogsResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>