BrokerageOnline.Presentation/Service References/SecurityServiceRef/SecurityService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BrokerageOnline.TransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BrokerageOnline.TransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Credentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credentials" nillable="true" type="tns:Credentials" />
  <xs:complexType name="ArrayOfUserDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDetail" nillable="true" type="tns:UserDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDetail" nillable="true" type="tns:ArrayOfUserDetail" />
  <xs:complexType name="UserDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetail" nillable="true" type="tns:UserDetail" />
  <xs:complexType name="ArrayOfChatHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatHistory" nillable="true" type="tns:ChatHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatHistory" nillable="true" type="tns:ArrayOfChatHistory" />
  <xs:complexType name="ChatHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChatDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountMsg" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Offline" type="xs:int" />
      <xs:element minOccurs="0" name="SentFrom" type="xs:long" />
      <xs:element minOccurs="0" name="SentTo" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatHistory" nillable="true" type="tns:ChatHistory" />
  <xs:complexType name="EmployeeLogs">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeLogID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastAccessedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastAccessedTime_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoggedInTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoggedInTime_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoggedOutBy" type="xs:int" />
      <xs:element minOccurs="0" name="LoggedOutTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoggedOutTime_str" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoggedOutUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageLog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubRegionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeLogs" nillable="true" type="tns:EmployeeLogs" />
</xs:schema>