BrokerageOnline.Presentation/Service References/SessionServiceRef/SessionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SessionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50262/SessionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50262/SessionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50262/SessionService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:50262/SessionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BrokerageOnline.Common.SessionManagement" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISessionManager_CreateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSession" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_CreateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_GetSessionValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionValue" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_GetSessionValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionValueResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_GetSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSession" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_GetSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_SetSessionValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSessionValue" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_SetSessionValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSessionValueResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_SetSession_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSession" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_SetSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_RemoveSession_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSession" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_RemoveSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_IsValidSession_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidSession" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_IsValidSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="ISessionManager">
    <wsdl:operation name="CreateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManager/CreateSession" message="tns:ISessionManager_CreateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/CreateSessionResponse" message="tns:ISessionManager_CreateSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManager/GetSessionValue" message="tns:ISessionManager_GetSessionValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/GetSessionValueResponse" message="tns:ISessionManager_GetSessionValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManager/GetSession" message="tns:ISessionManager_GetSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/GetSessionResponse" message="tns:ISessionManager_GetSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSessionValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManager/SetSessionValue" message="tns:ISessionManager_SetSessionValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/SetSessionValueResponse" message="tns:ISessionManager_SetSessionValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManager/SetSession" message="tns:ISessionManager_SetSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/SetSessionResponse" message="tns:ISessionManager_SetSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManager/RemoveSession" message="tns:ISessionManager_RemoveSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/RemoveSessionResponse" message="tns:ISessionManager_RemoveSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManager/IsValidSession" message="tns:ISessionManager_IsValidSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/IsValidSessionResponse" message="tns:ISessionManager_IsValidSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISessionManager" type="tns:ISessionManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSession">
      <soap:operation soapAction="http://tempuri.org/ISessionManager/CreateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionValue">
      <soap:operation soapAction="http://tempuri.org/ISessionManager/GetSessionValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSession">
      <soap:operation soapAction="http://tempuri.org/ISessionManager/GetSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSessionValue">
      <soap:operation soapAction="http://tempuri.org/ISessionManager/SetSessionValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSession">
      <soap:operation soapAction="http://tempuri.org/ISessionManager/SetSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSession">
      <soap:operation soapAction="http://tempuri.org/ISessionManager/RemoveSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidSession">
      <soap:operation soapAction="http://tempuri.org/ISessionManager/IsValidSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <wsdl:port name="BasicHttpBinding_ISessionManager" binding="tns:BasicHttpBinding_ISessionManager">
      <soap:address location="http://localhost:50262/SessionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>