BrokerageOnline.Presentation/Service References/SessionServiceRef/SessionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50262/SessionService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50262/SessionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BrokerageOnline.Common.SessionManagement" />
  <xs:element name="CreateSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSessionValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keys" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSessionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BrokerageOnline.Common.SessionManagement" minOccurs="0" name="sessionObjects" nillable="true" type="q2:ArrayOfSessionObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>